{% extends 'base.html.twig' %}

{% block title %}Module index{% endblock %}

{% block body %}
    <button class="btn gap-2 m-2">
  Total Modules
  <div class="badge"> {{ modules.getTotalItemCount }}</div>
</button>

<div class="container overflow-x-auto">
  <table class="table w-max border-b-2 border-gray-800">
    <!-- head -->
    <thead>
        <tr>
            <th>Module</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        {% for module in modules %}
            <tr>
                <td scope="row">{{ module.libelle}}</td>
                <td>
                    <button class="btn btn-sm btn-warning mr-4">Modifier</button>
                    <button class="btn btn-sm btn-error ml-4">Supprimer</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
<div class="navigation">
    {{ knp_pagination_render(modules) }}
</div>
{% endblock %}
